@use '../helpers/functions' as *;


.code {
    background-color: rgb(30, 33, 39);
    padding-inline: rem(10);
    padding-block: rem(20);
    font-size: 1rem;
    border-radius: 5px;

    &__content {
        line-height: 40px;
    }

    &__launch {
        background-color: black;
        border: none;
        font-size: 0.7rem;
        color: white;
        border-radius: 3px;
        padding: 10px;

    }
}